{%extends 'base.html'%} {% load bootstrap4 %} {% block content %} {{block.super}}

<div class="container-fluid " style="background-image:url( '../../static/images/Dubai.png');background-size: cover; background-position: center center;background-attachment: fixed;background-repeat: no-repeat;background-attachment: fixed;" id="hood ">
    <h1 class="text-center" style="color:white;padding-top:170px;">Welcome To HoodYangu<br> <em>Be in the loop about everything happening in your neighborhood.<br> From contact information of different handyman to meeting announcements or even alerts.</em></h1>
</div>

{% endblock %}{% block scripts %} {{block.super}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
{% endblock %}